<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Colocar alguma coisa aqui</title>
</head>

<body>

    <div class="header">
        <h1>Título</h1>
    </div>
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/minhas_compras">Minhas compras</a>
        <a href="/meus_dados">Meus dados</a>
        <a href="/produtos_cadastrados">Produtos cadastrados</a>
        <a href="/vendas_feitas">Vendas feitas</a>
    </div>
    <div class="conteudo">
        <p>conteudo aqui</p>
    </div>
    <div class="footer"></div>

</body>
</html>
