<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
    <title>Colocar alguma coisa aqui</title>
</head>

<body>

    <div class="container">
        <div class="quadro_login">
            <h1> Entre com sua conta</h1>
            <form action="/login" method="post">
                <label class="tag" for="email">EMAIL</label><br>
                <input class="preenchimento" type="email" id="email" name="email" autofocus required><br>
                <label class="tag" for="senha">SENHA</label><br>
                <input class="preenchimento" type="password" id="senha" name="senha" required><br>
                <input class="botao" type="submit" value="Entrar">
            </form>
        </div>
        <div class="quadro_login">
            <h1> Crie a sua conta</h1>
            <form action="/cadastro" method="post">
                <label class="tag" for="_nome">NOME</label><br>
                <input class="preenchimento" type="text" id="_nome" name="_nome" required><br>
                <label class="tag" for="_nasci">DATA DE NASCIMENTO</label><br>
                <input class="preenchimento" type="date" id="_nasci" name="_nasci"><br>
                <label class="tag" for="_email">EMAIL</label><br>
                <input class="preenchimento" type="email" id="_email" name="_email" required><br>
                <label class="tag" for="_senha">SENHA</label><br>
                <input class="preenchimento" type="password" id="_senha" name="_senha" required><br>
                <label class="tag" for="_senha1">CONFIRMAR SENHA</label><br>
                <input class="preenchimento" type="password" id="_senha1" name="_senha1" required><br>
                <input class="botao" type="submit" value="Cadastrar-se">
            </form>
        </div>
    </div>

</body>
<script>
    var senha1 = document.getElementById("_senha")
    ,senha2 = document.getElementById("_senha1");

    function validar_senha(){
        if(senha1.value != senha2.value) {
            senha2.setCustomValidity("As senhas informadas não são iguais");
        } else {
            senha2.setCustomValidity('');
        }
    }

senha1.onchange = validar_senha;
senha2.onkeyup = validar_senha;
</script>
</html>
